/*
 * Frontend CSS
 * Created by 	: Nizar Lazuardy Firmansyah
 * Email		: xnza.developer@gmail.com
 *
 * Copyright 2015
 */

@charset "utf-8";

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin: 0px;
	background: url("../img/background.jpg") no-repeat scroll center top;
	background-color: #cccccc;
}

#wrapper {
	width: 964px;
	margin-left: auto;
	margin-right: auto;
}